// out: null

// Parametric mixins

//Headings

.headingStyle(@paramColor: #000; @paramSize: 2em) {
    color: @paramColor;
    font-size: @paramSize;
    font-weight: bold;
    margin-bottom: @paramSize /2;
    text-align: center;
}

//End of Parametric Mixins

//Font-family

.easycore() {
  font-family: 'easycore', Georgia, Serif;
}

//Brush Stroke 1
.titleStyle() {
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'easycore', Georgia, Serif;
  background: url("../img/brush-stroke-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 3.5em !important;
  letter-spacing: 0.024em;
}


//Brush Stroke 2
.titleStyle-2() {
  margin-top: 1em;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'easycore', Georgia, Serif;
  background: url("../img/brush-stroke-2.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding-left: 5px;
  font-size: 3.5em !important;
  letter-spacing: 0.024em;
}

//Button Styles
.button-styles() {
  .btn {
    border: none;
    .easycore;
    font-size: 1.8em;
    background: @color2;
    cursor: pointer;
    padding: 5% 22%;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .icon-arrow-right:before {
    font-family: 'FontAwesome';
    content: "\f061";
    font-size: .65em !important;
  }
  .btn-4 {
    border-radius: 10px;
    border: 3px solid @color1;
    color: @color1;
    overflow: hidden;
    &:active {
      border-color: @color1;
      color: @color1;
      &:before {
        color: @color1;
      }
    }
    &:hover {
      background: @color1;
      color: @color2;
      border-color: @color2;
    }
    &:before {
      position: absolute;
      height: 100%;
      font-size: 125%;
      line-height: 3.5;
      color: @color2;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .btn-4a {
    &:before {
      left: 130%;
      top: 0;
    }
    &:hover {
      &:before {
        left: 80%;
      }
    }
  }
}
