// out: null

// Parametric mixins

//Headings

.headingStyle(@paramColor: #000; @paramSize: 2em) {
    color: @paramColor;
    font-size: @paramSize;
    font-weight: bold;
    margin-bottom: @paramSize /2;
    text-align: center;
}
