@font-face {
  font-family: 'easycore';
  src: url('easycore-webfont.woff') format('woff'), /* Modern Browsers */ url('easycore-webfont.woff2') format('woff2'), /* Modern Browsers */ url('fonts/Easycore.ttf') format('truetype');
}
body {
  font-family: 'easycore', Georgia, Serif;
  color: #000000;
  font-size: 20px;
}
body a {
  color: #000000;
}
body li {
  list-style: none;
}
body h1 {
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.8em;
  text-align: center;
}
body h2 {
  color: #000000;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.7em;
  text-align: center;
}
body h3 {
  color: #000000;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.55em;
  text-align: center;
}
body h4 {
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.45em;
  text-align: center;
}
body h5 {
  color: #000000;
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 0.425em;
  text-align: center;
}
body h6 {
  color: #000000;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0.375em;
  text-align: center;
}
body .header {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
body .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
}
body .header ul li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
body .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
body .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
body .header .menu-icon {
  cursor: pointer;
  float: right;
  border: 5px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 25px 15px;
  margin: 10px;
  position: relative;
  user-select: none;
}
body .header .nav-icon {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
body .header .nav-icon:before,
body .header .nav-icon:after {
  background: #000000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
body .header .nav-icon:before {
  top: 5px;
}
body .header .nav-icon:after {
  top: -5px;
}
body .header .menu-btn {
  display: none;
}
body .header .menu-btn:checked ~ .menu {
  max-height: 100%;
}
body .header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
body .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
body .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 48em) {
  body .header li {
    float: left;
  }
  body .header li a {
    padding: 20px 30px;
  }
  body .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  body .header .menu-icon {
    display: none;
  }
}
